{% extends '@Admin/' ~ app.request.attributes.get('active_site').templatePath ~ '/base.html.twig' %}

{% block title %}{{ 'New' | trans }} {{ 'Permission' | trans }}{% endblock %}
{% block h1 %}{{ 'New' | trans }} {{ 'Permission' | trans }}{% endblock %}

{% block h1_right %}
    {% include '@Admin/' ~ app.request.attributes.get('active_site').templatePath ~ '/_view_admin_sub_menu.html.twig' with {
        createButtonTitle: 'Create permission',
        createButtonPath: path('app_permission_admin_new'),
        items: [
            {
                title: 'Permission',
                path: path('app_permission_admin_index')
            },
            {
                title: 'Users',
                path: path('app_user_admin_index'),
                titleCreate: 'Create',
                pathCreate: path('app_user_admin_new')
            },
            {
                title: 'Roles',
                path: path('app_role_admin_index'),
                titleCreate: 'Create',
                pathCreate: path('app_role_admin_new')
            },
        ]
    }%}
{% endblock %}
{% block breadcrumbs %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_page_main') }}">{{ 'Home' | trans }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_main') }}">{{ 'Admin' | trans }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_permission_admin_index') }}">{{ 'Permissions items' | trans}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ 'New' | trans }} {{ 'Permission' | trans }}</li>
        </ol>
    </nav>
{% endblock %}
{% block body %}

    {% include '@User/' ~ app.request.attributes.get('active_site').templatePath ~ '/permission_admin/_form.html.twig' %}

{% endblock %}
